# Data Science Tools and Ecosystem

This notebook will provide a brief summarization of Data Science Tools and Ecosystems.

**Objectives:**
- List of popular languages for Data Science
- List of common libraries for Data Science
- Examples of common arithmetic equations
- List of open source data tools

Some common languages used amongst Data Scientists are:
1. Python
2. R
3. Java
4. Scala

Frequently used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. pandas
4. TensorFlow 
5. Plotly

| Data Science Tools |
| ------------------ | 
| Apache Hadoop | 
| Apache Spark | 
| RStudio |

### Below are a few esamples of evaluating arithmetic expressions in Python

In [12]:
# Here is a simple arithmetic expression multiplying and adding integers
(3*4)+5

17

In [14]:
# This code cell will convert 200 minutes into hours by dividing 200 by 60
200/60

3.3333333333333335

## Author
Carlos Lozada